%h1 AppointeRoR

%h2 Book your appointments easily!

%h4 Make a new appointment right now!

= form_for @appointment do |f|
  = f.text_field :title
  = f.text_field :appt_time
  = f.submit 'Make appointment!'

- @appointments.each do |a|
  %h3= a.title
  %p= a.appt_time
